<% provide(:title, "Contact") %>
<h1>Contact</h1>


<div id="join-the-moomint-cow">
  <a href="mailto:moorer@udel.edu"><%= image_tag "join-the-moomint-960-745.png", size: "960x745", alt: "join the moomint cow" %></a>
</div>
