<% provide(:title, 'Home') %>
<h1>MooMint Bovine Database Configurator</h1>


<div id="cow-pic">
  <%= image_tag "mint-cow-398by450.png", size: "398x450", alt: "Mint cow" %>
</div>

<h2><%= link_to "#JoinTheMooMint", signup_path %></h2>
