<% provide(:title, 'Home') %>
<h1>Moomint Bovine Database Configurator</h1>
<!--
<p>
  This is the lovely homepage for the Happy Moo BDB Configurator!
</p>
-->

<div id="cow-pic">
  <%= image_tag "mint-cow-398by450.png", size: "398x450", alt: "Mint cow" %>
</div>

<%= link_to "Sign up now!", signup_path %>
