// Place all the styles related to the DataPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.data-view-nav {
  list-style-type: none;
  
  #first { font-size: 1.25em; }

  a {
    text-decoration: none;
    color: #7F3D17;
  }
}

div.table-container {
  clear: both; // ?
  //width: 100%;
  //width: 800px; // add 16px for the scrollbar
  height: 618px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;


  table.scroll-table {
    float: left;
    //width: 800px;
    height: 618px;
//    overflow: scroll;
//    background-color: blue;

    thead.fixed-header {
      //position: fixed;
      //height: 100px;
      //text-align: center; // horizontal alignment
      

      tr { 
	position: relative;
	display: block;

	color: #7F3D17;
      }

      th { // id
	//font-weight: normal;
	//padding: 4px 3px;
	text-align: center;
	width: 70px;
	//height: 35px;
	background-color: #CBFFFA;
      }

      th + th { // type
	width: 81px;
      }

      th + th + th { // cryobox num
	width: 70px;
      }

      th + th + th + th { // cryobox loc
	width: 70px;
      }

      th + th + th + th + th { // date
	width: 140px;
      }

      th + th + th + th + th + th { // Pen
	width: 70px;
      }

      th + th + th + th + th + th + th { // serotype?
	width: 140px;
      }

      th + th + th + th + th + th + th + th { // status
	width: 175px;
      }

    }

    tbody.scroll-content {
      display: block;
      height: 518px;
      overflow: auto;
      width: 100%;
      text-align: left;

      td { 
	width: 71px;
	//border-right: 1px solid black;
	//border-top: 1px solid black;
      }

      td + td { width: 81px }

      td + td + td { width: 73px }

      td + td + td + td { width: 72px }

      td + td + td + td + td { width: 143px }

      td + td + td + td + td + td { width: 70px }

      td + td + td + td + td + td + td { width: 144px }

      td + td + td + td + td + td + td + td { width: 177px }
    }
  }
}

table.tablesorter tbody tr:nth-child(2n) td {
  background: #CBFFFA;
  background: rgba(203,255,250,0.7);
}
table.tablesorter tbody tr:nth-child(2n+1) td {
  background: white;
}