<ul class="data-view-nav">
  <li id="first">Pick a view...</li>
  <li><%= link_to "Samples", view_samples_path %></li>
  <li><%= link_to "Sampling Info", view_sampling_info_path %></li>
  <li><%= link_to "People", view_people_path %></li>
</ul>
